@charset "utf-8";
/* page setting
--------------------------------------------------------- */
#a-header,#a-ghost_header,#a-billboard,#a-site_contents,#a-footer { width:1200px; }
#a-main { width:1200px; }
@media (max-width: 641px) {

}


#page .bg-document {
}
#page {
}
body  { background-color: #ffffff; }
#a-header {
 background-color:  #ffffff; 
}
#a-ghost_header {
 background-color:  #ffffff; 
}
#a-billboard { padding:0px 0px 0px 0px ;
 background-color:  #ffffff; 
 background-image: url(_src/678/introduction.jpg); 
 background-repeat:no-repeat; 
 background-position:center bottom; 
}
#a-main {
 background-color:  #ffffff; 
}
#a-side-a { padding:0px 30px 0px 0px ;
 background-color:  #ffffff; 
}
#a-side-b {
 background-color:  #ffffff; 
}
#a-footer {
 background-color:  #ffffff; 
}
#a-site_contents {
 background-color:  #ffffff; 
}

@media (max-width: 641px) {
#page .bg-document {  
  }
#page {  
  }
	#a-header {padding:0px 0px 0px 0px;	}
	#a-ghost_header {padding:0px 0px 0px 0px;	}
	#a-billboard {padding:0px 0px 0px 0px;	}
	#a-main {padding:0px 0px 0px 0px;	}
	#a-side-a {padding:0px 30px 0px 30px ;	}
	#a-side-b {padding:0px 0px 0px 0px;	}
	#a-footer {padding:0px 0px 0px 0px;	}
	}

#bk289 { background-color:#FFFFFF; }
#bk289 > div { margin:0 auto; max-width:1200px; }
#bk290 > div { margin:0 auto; max-width:1200px; }
#bk290 > div { padding-left: 0px; padding-top: 100px; padding-right: 0px; padding-bottom: 100px;  } 
#bk319 { background-color:#FFFFFF; }
#bk319 > div { margin:0 auto; max-width:1200px; }
#bk319 > div { padding-left: 60px; padding-top: 0px; padding-right: 60px; padding-bottom: 30px;  } 
#bk292 > div { padding-left: 0px; padding-top: 30px; padding-right: 0px; padding-bottom: 0px;  } 
#bk352 { background-color:#003F96; }
#bk351 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk349 > div { margin:0 auto; max-width:1200px; }
#bk378 { background-color:#FFFFFF; }
#bk390 > div { margin:0 auto; max-width:400px; }
#bk390 > div { padding-left: 80px; padding-top: 30px; padding-right: 0px; padding-bottom: 0px;  } 


@media (max-width: 641px) {
		#bk289.b-plain > .column,#bk289.b-plain > .g-column,#bk289.b-both_diff > .column,#bk289.b-both_diff > .g-column,#bk289.b-headlines > .column,#bk289.b-headlines > .g-column,#bk289.b-album > .column,#bk289.b-album > .g-column,#bk289.b-tab > .column,#bk289.b-tab > .g-column,#bk289.b-accordion > .column,#bk289.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk290.b-plain > .column,#bk290.b-plain > .g-column,#bk290.b-both_diff > .column,#bk290.b-both_diff > .g-column,#bk290.b-headlines > .column,#bk290.b-headlines > .g-column,#bk290.b-album > .column,#bk290.b-album > .g-column,#bk290.b-tab > .column,#bk290.b-tab > .g-column,#bk290.b-accordion > .column,#bk290.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk290 > div { padding: 15px; }
		#bk319.b-plain > .column,#bk319.b-plain > .g-column,#bk319.b-both_diff > .column,#bk319.b-both_diff > .g-column,#bk319.b-headlines > .column,#bk319.b-headlines > .g-column,#bk319.b-album > .column,#bk319.b-album > .g-column,#bk319.b-tab > .column,#bk319.b-tab > .g-column,#bk319.b-accordion > .column,#bk319.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk319 > div { padding: 15px; }
		#bk293.b-plain > .column,#bk293.b-plain > .g-column,#bk293.b-both_diff > .column,#bk293.b-both_diff > .g-column,#bk293.b-headlines > .column,#bk293.b-headlines > .g-column,#bk293.b-album > .column,#bk293.b-album > .g-column,#bk293.b-tab > .column,#bk293.b-tab > .g-column,#bk293.b-accordion > .column,#bk293.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk291.b-plain > .column,#bk291.b-plain > .g-column,#bk291.b-both_diff > .column,#bk291.b-both_diff > .g-column,#bk291.b-headlines > .column,#bk291.b-headlines > .g-column,#bk291.b-album > .column,#bk291.b-album > .g-column,#bk291.b-tab > .column,#bk291.b-tab > .g-column,#bk291.b-accordion > .column,#bk291.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk292.b-plain > .column,#bk292.b-plain > .g-column,#bk292.b-both_diff > .column,#bk292.b-both_diff > .g-column,#bk292.b-headlines > .column,#bk292.b-headlines > .g-column,#bk292.b-album > .column,#bk292.b-album > .g-column,#bk292.b-tab > .column,#bk292.b-tab > .g-column,#bk292.b-accordion > .column,#bk292.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk292 > div { padding-left: 0px; padding-top: 30px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk352.b-plain > .column,#bk352.b-plain > .g-column,#bk352.b-both_diff > .column,#bk352.b-both_diff > .g-column,#bk352.b-headlines > .column,#bk352.b-headlines > .g-column,#bk352.b-album > .column,#bk352.b-album > .g-column,#bk352.b-tab > .column,#bk352.b-tab > .g-column,#bk352.b-accordion > .column,#bk352.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk351.b-plain > .column,#bk351.b-plain > .g-column,#bk351.b-both_diff > .column,#bk351.b-both_diff > .g-column,#bk351.b-headlines > .column,#bk351.b-headlines > .g-column,#bk351.b-album > .column,#bk351.b-album > .g-column,#bk351.b-tab > .column,#bk351.b-tab > .g-column,#bk351.b-accordion > .column,#bk351.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk351 > div { padding: 15px; }
		#bk349.b-plain > .column,#bk349.b-plain > .g-column,#bk349.b-both_diff > .column,#bk349.b-both_diff > .g-column,#bk349.b-headlines > .column,#bk349.b-headlines > .g-column,#bk349.b-album > .column,#bk349.b-album > .g-column,#bk349.b-tab > .column,#bk349.b-tab > .g-column,#bk349.b-accordion > .column,#bk349.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk378.b-plain > .column,#bk378.b-plain > .g-column,#bk378.b-both_diff > .column,#bk378.b-both_diff > .g-column,#bk378.b-headlines > .column,#bk378.b-headlines > .g-column,#bk378.b-album > .column,#bk378.b-album > .g-column,#bk378.b-tab > .column,#bk378.b-tab > .g-column,#bk378.b-accordion > .column,#bk378.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk377.b-plain > .column,#bk377.b-plain > .g-column,#bk377.b-both_diff > .column,#bk377.b-both_diff > .g-column,#bk377.b-headlines > .column,#bk377.b-headlines > .g-column,#bk377.b-album > .column,#bk377.b-album > .g-column,#bk377.b-tab > .column,#bk377.b-tab > .g-column,#bk377.b-accordion > .column,#bk377.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk390.b-plain > .column,#bk390.b-plain > .g-column,#bk390.b-both_diff > .column,#bk390.b-both_diff > .g-column,#bk390.b-headlines > .column,#bk390.b-headlines > .g-column,#bk390.b-album > .column,#bk390.b-album > .g-column,#bk390.b-tab > .column,#bk390.b-tab > .g-column,#bk390.b-accordion > .column,#bk390.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk390 > div { padding-left: 15px; padding-top: 15px; padding-right: 15px; padding-bottom: 60px;  } 
	}


#imgsrc587_1{width:80%;}
#imgsrc518_1{width:220px;}


@media (max-width: 641px) {
}
