@charset "utf-8";
.c-body,li,dt,dd,th,td { font-family: 'FOT-UD角ゴC70 Pro R'; }
.c-title { font-family: 'FOT-UD角ゴC60 Pro M'; }
.c-large_headline { font-family: 'Noto Sans', sans-serif; }
.c-small_headline { font-family: 'Noto Sans', sans-serif; }
.c-lead { font-family: 'Noto Sans', sans-serif; }
.c-blockquote { font-family: 'Noto Sans', sans-serif; }
.c-enclosure { font-family: 'Noto Sans', sans-serif; }
.c-note { font-family: 'Noto Sans', sans-serif; }
.c-credit { font-family: 'Noto Sans', sans-serif; }
.c-page_title { font-family: 'Pathway Gothic One', sans-serif; }
.webfont1 { font-family: 'F+UD-スーラ M'; }
.webfont2 { font-family: 'F+UD-ニューロダン M'; }
